.header_user {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	gap: 10px;
	height: 100%;

	&Skeleton {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: var(--color-6);
	}
}
