.favorites {
	position: relative;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	&_icon {
		color: #ff4242;
		width: 22px;
		height: 22px;
		position: relative;
	}

	&_count {
		position: absolute;
		right: 0;
		top: 0;
		background: var(--color-brand);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		font-size: 13px;
		width: fit-content;
		height: 20px;
		padding: 5px 8px;
		color: white;
	}

	&Skeleton {
		width: 55px;
		height: 45px;
		border-radius: 10px;
		background-color: var(--color-6);
	}
}
