.header_ctr_user_nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}