.header_user_nav {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5px;

	&_item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
