.notifications {
	position: relative;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	&_icon {
		color: #335cff;
		width: 22px;
		height: 22px;
	}

	&Skeleton {
		width: 55px;
		height: 45px;
		border-radius: 10px;
		background-color: var(--color-6);
	}
}
