.header_nav {
	&_list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		gap: 10px;
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 100%;

		&_item {
			height: 100%;

			&_link {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				font-size: 16px;
				font-weight: bold;
				padding: 15px;
				color: var(--color_navLink);
				border-radius: 8px;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				-ms-border-radius: 8px;
				-o-border-radius: 8px;

				&:hover {
					background-color: var(--background_actives);
				}

				span {
					height: 20px;
				}
			}

			&_link--active {
				background-color: var(--background_actives);
			}
		}
	}
}
