.me_realties {
	width: 100%;

	&_header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		height: 40px;

		&_info {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
		}
	}

	&_count {
		color: var(--color-2);
		font-size: 28px;
		font-weight: bold;
	}

	&_title {
		color: var(--color-2);
		margin: 0;
		font-size: 28px;
		animation: fadeIn 150ms ease-in-out forwards;
	}

	&_control {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 10px;
		justify-content: flex-end;
	}

	&_removeBtn {
		font-size: 16px;
		gap: 5px;
	}

	&_removeModal {
		&_footer {
			gap: 10px;
		}

		&_description {
			font-size: 16px;
			text-align: center;
			color: var(--color-2);
			line-height: 1.5;
		}

		&_btn {
			width: 200px;
		}
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
