.auth {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;

	&Box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 15px 15px 15px;
		gap: 30px;
		width: 100%;
	}

	&_header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		max-width: 350px;

		&_logo {
			font-family: 'Kalam', sans-serif;
			color: var(--color);
			line-height: 10px;
		}

		&_title {
			color: var(--color);
			line-height: 10px;
		}

		&_method {
			text-transform: uppercase;
			color: var(--color-2);
		}

		&_description {
			color: var(--color-2);
		}
	}

	&_form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 380px;
		gap: 15px;

		&_input {
			width: 100%;
			padding-top: 12px;
			padding-bottom: 12px;
			border: 1px solid var(--color-6);
			background-color: var(--background_actives);
		}

		&_actions {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 10px;
			width: 100%;

			&_submit {
				width: 100%;
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}
	}
}
