.sectionSearch_searchBar_form {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	gap: 10px;
	margin-top: 15px;

	&_input {
		height: 50px;
	}

	&_inputIcon {
		color: var(--color_inputIcon);
		width: 23px;
		height: 23px;
	}

	&_filters {
		height: 50px;
		background: transparent;

		&:hover {
			background: var(--background_actives);
		}
	}

	&_filtersIcon {
		width: 18px;
		height: 18px;
		margin-right: 5px;
	}

	&_button {
		height: 50px;
		color: white;
	}
}
