.new {
	display: flex;
	justify-content: center;
	width: 100%;

	&_container {
		padding: 20px 10px;
	}

	&_title {
		font-size: 26px;
	}

	&_header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 20px;
		gap: 20px;
	}

	&_main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}
}
