.realty_item {
	position: relative;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 8px;
	border: 1px solid var(--color-6);
	background-color: var(--background_actives-4);

	&:hover {
		background-color: var(--background_actives-3);
	}
}

.realty_item--list {
	display: grid;
	padding: 10px;
	max-height: 400px;
	grid-template-columns: 1fr 1.2fr;
	gap: 15px;
	width: 100%;
}

.realty_item--grid {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.realty_item_wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.realty_item_imagesBox {
	position: relative;
	width: 100%;
	height: 240px;
}

.realty_item_imageSwitchers {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	bottom: 0;
	border-radius: 10px;
	gap: 5px;

	&:hover .realty_item_imageSwitcher {
		border-bottom: 3px solid rgb(194, 194, 194);
		transition: all 50ms ease-in-out;
	}
}

.realty_item_imageSwitcher {
	width: 100%;
	height: 100%;
	background: transparent;

	&:hover {
		border-bottom: 3px solid white !important;
		transition: all 50ms ease-in-out;
	}
}

.realty_item_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.realty_item_image--grid {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.realty_item_info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	gap: 8px;
}

.realty_item_info--grid {
	padding: 0 10px 10px 10px;
}

.realty_item_title {
	font-size: 20px;
	font-weight: 500;
	color: var(--color);
}

.realty_item_price {
	font-size: 24px;
	font-weight: 600;
}

.realty_item_addressBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.realty_item_addressIcon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	color: var(--color-brand-2);
}

.realty_item_address {
	color: var(--color-2);
}

.realty_item_description {
	display: -webkit-box;
	color: var(--color-2);
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	max-width: 450px;
}

.realty_item_favorite {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	padding: 6px;
	border: 0;

	&:hover {
		.realty_item_favorite_icon {
			opacity: 1;
			transition: opacity 50ms easy-in-out;
		}
	}

	&_icon {
		width: 24px;
		height: 24px;
		opacity: 0.8;
	}
}

.realty_itemSkeleton {
	width: 100%;
	height: 100%;
	position: relative;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 8px;
	border: 1px solid var(--color-6);
	background-color: var(--background_actives-4);
}

.realty_itemSkeleton--list {
	display: grid;
	padding: 10px;
	max-height: 400px;
	grid-template-columns: 1fr 1.2fr;
	gap: 15px;
	width: 100%;
}

.realty_itemSkeleton--grid {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.realty_itemSkeleton_image {
	position: relative;
	width: 100%;
	height: 240px;
	background-color: var(--background_actives-3);
}

.realty_itemSkeleton_image--grid {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.realty_itemSkeleton_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	gap: 8px;
}

.realty_itemSkeleton_content--grid {
	padding: 0 10px 10px 10px;
}

.realty_itemSkeleton_text {
	background-color: var(--background_actives-3);
	width: 100%;
	max-width: 450px;
}
