.realty_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	gap: 40px;
	border: 1px solid var(--color-6);
	background-color: var(--background_actives-4);
	padding: 15px 18px;
	border-radius: 10px;
	height: fit-content;

	&Base {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		gap: 10px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&Actions {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		gap: 10px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}
}

.realty_addressBox {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	gap: 8px;
	width: 100%;
}

.realty_address {
	width: 100%;
	color: var(--color-2);
	line-height: 1.5;
}

.realty_addressSkeleton {
	background-color: var(--background_actives-3);
}

.realty_addressIcon {
	color: var(--color-brand-2);
	width: 22px;
	height: 22px;
	margin-top: 2px;
}

.realty_price {
	line-height: 1.5;
	font-size: 32px;
	font-weight: bold;
	width: 100%;
}

.realty_priceSkeleton {
	background-color: var(--background_actives-3);
}

.realty_dateBox {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	gap: 8px;
	width: 100%;
	color: var(--color-2);
	margin-top: 5px;
	user-select: none;
}

.realty_date {
	line-height: 1;
}

.realty_dateSkeleton {
	background-color: var(--background_actives-3);
}

.realty_description {
	line-height: 1.5;
	width: 100%;
}

.realty_descriptionSkeleton {
	line-height: 1.5;
	width: 100%;
	height: 200px;
	background-color: var(--background_actives-3);
}

.realty_action {
	display: flex;
	padding-top: 12px;
	padding-bottom: 12px;
	gap: 10px;
	width: 100%;
}

.realty_actionSkeleton {
	background-color: var(--background_actives-3);
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
