.search {
	width: 100%;
	display: flex;
	justify-content: center;

	&_container {
		padding: 10px;
		padding-bottom: 100px;
	}

	&_title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	&_resultsCount {
		font-size: 32px;
		color: var(--color-2);
		margin-left: 10px;
		font-weight: 600;
	}

	&_main {
		display: grid;
		grid-template-columns: 1fr 4fr;
		width: 100%;
		gap: 20px;
	}

	&_resultBox {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		height: fit-content;
		gap: 10px;

		&_control {
			display: flex;
			flex-direction: row;
			gap: 10px;
		}
	}
}
