.app_locationBadge {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 8px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	&_icon {
		width: 20px;
		height: 20px;
	}
}
