.error {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	height: 80vh;
	position: relative;

	&_container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		z-index: 2;
		padding: 30px 0;
		backdrop-filter: blur(10px);
		border: 1px solid var(--color-7);
	}

	&_code {
		font-size: 500px;
		color: var(--color-5);
		font-family: 'Kalam', sans-serif;
		margin: 0;
		user-select: none;
		position: absolute;
		z-index: 1;
	}

	&_description {
		color: var(--color-2);
		font-size: 20px;
		text-shadow: 0 0 2px var(--background_body);
		user-select: none;
	}
}
