.me_aside_profileCard {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	margin-bottom: 10px;

	&_info {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		gap: 5px;
	}

	&_avatar {
		margin-right: 15px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&_name {
		font-size: 22px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&_secondName {
		font-size: 22px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&_id {
		margin-top: 2px;
		font-size: 18px;
		color: var(--color-2);
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&_avatarSkeleton {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		margin-right: 15px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&_secondNameSkeleton {
		height: 24px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&_nameSkeleton {
		height: 24px;
		opacity: 0;
		margin-bottom: 1px;
		animation: fadeIn 200ms ease-in-out forwards;
	}

	&_idSkeleton {
		margin-top: 2px;
		height: 24px;
		opacity: 0;
		animation: fadeIn 200ms ease-in-out forwards;
	}
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
