@import 'node_modules/normalize.css/normalize.css';
@import 'theme.scss';
@import 'selectors.scss';

html,
body {
    font-family: 'Noto Sans Lao Looped', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background_body);
}

a, p, span {
    margin: 0;
}

a, button {
    cursor: pointer;
}

a, button, input {
    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px rgb(29, 123, 255);
        transition: 100ms all ease-in-out;
        -webkit-transition: 100ms all ease-in-out;
        -moz-transition: 100ms all ease-in-out;
        -ms-transition: 100ms all ease-in-out;
        -o-transition: 100ms all ease-in-out;
    }
}
