@import 'node_modules/normalize.css/normalize.css';
@import 'theme.scss';
@import 'selectors.scss';

html,
body {
    font-family: 'Noto Sans Lao Looped', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background-body);
}

a, p, span, h1, h2, h3, h4 {
    margin: 0;
}

a, button {
    cursor: pointer;
}