// LIGHT THEME
:root {
	// BACKGROUND
	--background: white;
	--background_actives--hover: #47474714;
	--background_body: #e7e7e7;
	--background_header: white;
	--background_skeleton: white;
	--background_skeleton--gradient: rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0);

	// COLOR
	--color: black;
	--color-2: #000000b3;
	--color-6: #00000014;
	--color_link: rgb(29, 123, 255);
	--color_link--hover: #0050ad;
	--color_navLink: #444;
	--color_inputIcon: #999;
}

// DARK THEME
[data-theme='dark'] {
	// BACKGROUND
	--background: #191919;
	--background_actives--hover: #47474726;
	--background_body: #141414;
	--background_header: #191919;
	--background_skeleton: #191919;
	--background_skeleton--gradient: rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0);

	// COLOR
	--color: white;
	--color-2: #ffffffb3;
	--color-6: #ffffff14;
	--color_link: rgb(80, 153, 255);
	--color_link--hover: #6da5ff;
	--color_navLink: #c8c8c8;
	--color_inputIcon: #555;
}
