:root {
    --background-body: #e7e7e7;
    --background-header: white;
    --color: black;
    --nav_link_color: #444;
}

[data-theme='dark'] {
    --background-body: #141414;
    --background-header: #191919;
    --color: white;
    --nav_link_color: #c8c8c8;
}