.app_label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	gap: 0.5rem;

	&_errorMessage {
		color: rgb(255, 45, 45);
		user-select: none;
		font-size: 12px;
	}
}

.app_label_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}
