.section_quickLinks {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    &_container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }   

    &_link {
        color: var(--color_link);
    }
}