.header {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: var(--background_header);
	margin-bottom: 20px;

	&_container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 10px;
		width: 100%;
		height: 68px;
	}

	&_nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 30px;
	}
}
