.realty_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 13px;
	gap: 10px;
	width: 100%;
	border: 1px solid var(--color-6);
	background-color: var(--background_actives-4);
	border-radius: 10px;
}

.realty_headerInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.realty_title {
	line-height: 1;
	font-size: 22px;
	width: 100%;
	margin: 0;
	opacity: 0;
	animation: fadeIn 200ms ease-in-out forwards;
}

.realty_titleSkeleton {
	background-color: var(--background_actives-3);
}

.realty_id {
	text-transform: uppercase;
	color: var(--color-2);
	padding: 8px;
	opacity: 0;
	animation: fadeIn 200ms ease-in-out forwards;
}

.realty_idSkeleton {
	background-color: var(--background_actives-3);
}

.realty_back {
	height: 100%;
	border-radius: 9px;
	padding: 8px;
	background: transparent;
	opacity: 0;
	animation: fadeIn 200ms ease-in-out forwards;
	color: var(--color-2);
}

.realty_backSkeleton {
	border-radius: 9px;
	background-color: var(--background_actives-3);
	max-width: 50px;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}
