.app_spinner {
	animation-name: spinner;
	animation-duration: 600ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	@keyframes spinner {
		0% {
			transform: rotate(0);
		}
		50% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
